@charset "usf-8";
.titlea{
    display: flex;
}

.titleb{
    display: flex;
}

.head{
    background-image: url(img/ヘッダー背景.jpg);
    width: 1280px;
    height: 250px;
}

.titleimg{
    width: 109px;
    height: 100px;
    padding: 8px;
}

.kanko{
    width: 320px;
    height: 80px;
    font-size: 64px;
    padding: 8px;
}

.raiter{
    width: 450px;
    height: 80px;
    left: 810px;
    top: 20px;
    background-color: #adff00;
    position: absolute;

    font-size: 32px;
    line-height: 80px;
    text-align: center;
}

.kankoti{
    position: absolute;
    left: 80px;
    top: 150px;
    width: 280px;
    height: 80px;
    background-color: #adff00;

    font-size: 32px;
    line-height: 80px;
    text-align: center;
}

.men{
    position: absolute;
    left: 380px;
    top: 150px;
    width: 280px;
    height: 80px;
    background-color: #adff00;

    font-size: 32px;
    line-height: 80px;
    text-align: center;
}

.cyomei{
    position: absolute;
    left: 680px;
    top: 150px;
    width: 280px;
    height: 80px;
    background-color: #adff00;

    font-size: 32px;
    line-height: 80px;
    text-align: center;
}

.movie{
    position: absolute;
    left: 980px;
    top: 150px;
    width: 280px;
    height: 80px;
    background-color: #adff00;

    font-size: 32px;
    line-height: 80px;
    text-align: center;
}
body{
    font-family: Noto Serif JP;
}
td{
    /*width: 300%;*/
}
.yoko{
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
}
p{
    width: 290px;
}
.setumei{
    margin: auto;
}
.jyunnki{
    margin-left: 300px;
}
h3{
    text-align: center;
    font-size: 35px;
    color: blueviolet;
}
table{
    margin-left: 240px;
}